# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code
.vscode/

# Python caches
__pycache__/

# macOS Finder metadata
.DS_Store

# ZPIC specific
test/
.deps/
.objs/
EMF/
PARTICLES/
CHARGE/
CURRENT/
mpi/zpic
openmp/zpic
cuda/em2d/zpic
cuda/em2ds/zpic
openmp/python/em2d.cpp
